In [3]:
import numpy as np
import pandas as pd
from rdkit import Chem
from rdkit.Chem.Draw import IPythonConsole
from rdkit_installer.fingerprints import Fingerprinter

In [2]:
df_cate = pd.read_csv('Catechol_smiles.csv', index_col=0)
df_cate

                                               SMILES
Cate_name
Catechol                                OC1=CC=CC=C1O
4Me-Catechol                         OC1=CC=C(C)C=C1O
4Cl-Catechol                        OC1=CC=C(Cl)C=C1O
4NO2-Catechol             OC1=CC=C([N+]([O-])=O)C=C1O
4OH-Catechol                         OC1=CC=C(O)C=C1O
4CN-Catechol                       OC1=CC=C(C#N)C=C1O
Dihydroxynaphthalene            OC1=CC2=CC=CC=C2C=C1O
4Br-Catechol                        OC1=CC=C(Br)C=C1O
4tBu-Catechol                 OC1=CC=C(C(C)(C)C)C=C1O
4F-Catechol                          OC1=CC=C(F)C=C1O
4Ph-Catechol               OC1=CC=C(C2=CC=CC=C2)C=C1O
4OCOEt-Catechol               OC1=CC(C(OCC)=O)=CC=C1O
4Bz-Catechol          OC1=CC(C(C2=CC=CC=C2)=O)=CC=C1O
4CH2OH-Catechol                     OC1=CC=C(CO)C=C1O
4OMe-Catechol                       OC1=CC=C(OC)C=C1O
3F-Catechol                          OC1=CC=CC(F)=C1O
3OMe-Catechol                       OC1=CC=CC(OC)=C1O

In [22]:
fingerprinter = Fingerprinter()
fp_df_cate = pd.DataFrame([vec for vec in fingerprinter.transform(df_cate['SMILES'], fp_type='Morgan2(1024bits)')])

print(fp_df_cate.shape)
fp_df_cate.head()

(17, 1024)

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_Cate_desc = fp_df_cate.loc[fp_df_cate.index.repeat(4)].reset_index(drop=True)
print(df_Cate_desc.info())
df_Cate_desc.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Columns: 1024 entries, 0 to 1023
dtypes: int64(1024)
memory usage: 544.1 KB
None

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_P = pd.read_csv('P_smiles.csv', index_col=0)
df_P

                                       SMILES
P_name
Dimethyl Phosphite             O=P([H])(OC)OC
Phosphonic acid                  [H]P(O)(O)=O
Phenylphosphinic Acid  [H]P(O)(C1=CC=CC=C1)=O
Phosphinic acid                [H]P([H])(O)=O

In [24]:
fingerprinter = Fingerprinter()
fp_df_P = pd.DataFrame([vec for vec in fingerprinter.transform(df_P['SMILES'], fp_type='Morgan2(1024bits)')])

print(fp_df_P.shape)
fp_df_P.head()

(4, 1024)

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df_P_desc=pd.concat([fp_df_P]*17,ignore_index=True)
print(df_P_desc.info())
df_P_desc.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Columns: 1024 entries, 0 to 1023
dtypes: int64(1024)
memory usage: 544.1 KB
None

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
Morgan_desc=pd.concat([df_Cate_desc, df_P_desc], axis=1)
Morgan_desc.to_csv('Morgan_desc.csv')
print(Morgan_desc.info())
Morgan_desc.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Columns: 2048 entries, 0 to 1023
dtypes: int64(2048)
memory usage: 1.1 MB
None

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0